<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="../Styles/main.css" TYPE="text/css" MEDIA=screen>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="StyleSheet">
    <title>Menú Admin</title>
</head>
<body>
    <nav>
        <ul>
            <li class="link" id="logo"></li>
            <li ><a href="#" class="link">BLOCKCHAIN</a></li>
            <li ><a href="../index.html" class="link">LOGOUT</a></li>
        </ul>
    </nav>

    <div class="capa1"> 
        <div class="capa2 masivas-container file-select" id="cmClientes">
            Carga Masiva Clientes
            <input type="file"  name="cmClientes">
            <br>
        </div>
        <div class="capa2 masivas-container file-select" id="cmPeliculas">
            Carga Masiva Películas
            <input type="file"  name="cmPeliculas">
            <br>
        </div>
        <div class="capa2 masivas-container file-select" id="cmActores">
            Carga Masiva Actores
            <input type="file"  name="cmActores">
            <br>
        </div>
        <div class="capa2 masivas-container file-select" id="cmCategorias">
            Carga Masiva Categorías
            <input type="file" name="cmCategorias">
            <br>
        </div>
    </div><br>
        

    <div class="capa1">
        <div id="lienzo"></div>
    </div>


    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    
</body>
</html>